@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  cursor: url('public/cursors/cursor-normal.png'), auto; 
}

a, button, [role="button"], .cursor-link {
  cursor: url('public/cursors/cursor-link.png'), pointer; /* Cursor for links and buttons */
}

@layer utilities {
  .shadow-neumorph {
    @apply transition-all duration-300;
  }

  .dark .shadow-neumorph {
    background: #1f2937;
    box-shadow: 5px 5px 10px #151b24,
                -5px -5px 10px #293548;
  }

  .shadow-neumorph {
    background: #ffffff;
    box-shadow: 5px 5px 10px #e2e8f0,
                -5px -5px 10px #ffffff;
  }

  .dark .shadow-neumorph:hover {
    box-shadow: 8px 8px 16px #151b24,
                -8px -8px 16px #293548;
  }

  .shadow-neumorph:hover {
    box-shadow: 8px 8px 16px #e2e8f0,
                -8px -8px 16px #ffffff;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* Optional: Add some responsive styles */
@media (max-width: 768px) {
  .project-card {
    width: 100%; /* Full width on smaller screens */
  }
}

.project-card {
  width: 250px; /* Fixed width for desktop */
}

@media (max-width: 768px) {
  .project-card {
    width: 200px; /* Fixed width for mobile */
  }
}